@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.icons {
  display: inline-flex;
  align-items: center;
}

.icons a {
  margin: 0 25px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.icons a .layer {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.icons a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}

.icons a .layer span.fab {
  font-size: 30px;
  line-height: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text {
  color: #5b55d2;
  border-color: #5b55d2;
}

/* Establece estilos para los otros íconos según sea necesario */

.icons a:hover:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #5b55d2;
}

.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text {
  color: #3a77f1; /* Cambia el color a rojo (código de color #ff0000) */
  border-color: #3a77f1; /* Cambia el borde a rojo (código de color #0055ff) */
}

/* Además, puedes agregar un sombreado rojo en el hover */
.icons a:hover:nth-child(2) .layer span {
  box-shadow: -1px 1px 3px #3a77f1; /* Cambia el sombreado a rojo (código de color #ff0000) */
}

.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text {
  color: #f48c15; /* Cambia el color a rojo (código de color #ff0000) */
  border-color: #f48c15; /* Cambia el borde a rojo (código de color #0055ff) */
}

/* Además, puedes agregar un sombreado rojo en el hover */
.icons a:hover:nth-child(3) .layer span {
  box-shadow: -1px 1px 3px #f48c15; /* Cambia el sombreado a rojo (código de color #ff0000) */
}

.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text {
  color: #0055ff; /* Cambia el color a rojo (código de color #ff0000) */
  border-color: #0055ff; /* Cambia el borde a rojo (código de color #0055ff) */
}

/* Además, puedes agregar un sombreado rojo en el hover */
.icons a:hover:nth-child(5) .layer span {
  box-shadow: -1px 1px 3px #0055ff; /* Cambia el sombreado a rojo (código de color #ff0000) */
}


.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text {
  color: #ff0000; /* Cambia el color a rojo (código de color #ff0000) */
  border-color: #ff0000; /* Cambia el borde a rojo (código de color #ff0000) */
}

/* Además, puedes agregar un sombreado rojo en el hover */
.icons a:hover:nth-child(4) .layer span {
  box-shadow: -1px 1px 3px #ff0000; /* Cambia el sombreado a rojo (código de color #ff0000) */
}





/* Agrega estilos para los otros íconos cuando se deseen resaltar */

.icons a .text {
  position: absolute;
  left: 50%;
  bottom: 1px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icons a:hover .text {
  bottom: -25px;
  opacity: 1;
}

@media (max-width: 600px) {
    .icons{
        display: flex;
        justify-content: center;
    }
    .icons a:nth-child(5) {
      display: none; /* Oculta los iconos 4 y 5 en la versión móvil */
    }
  }