@import '../../assets/color.css';

.container {
  background-color: #FFCC00;
  border: 0.25px solid #0d473b;
  color: #0080F2;
  width: 220px;
  margin-left: 10px;
}

.select1 {
  /* Agrega estilos adicionales específicos del Select si es necesario */
  padding: 8px;
  font-size: 15px;
}



