@import '../../assets/color.css';

.labelDate {
  margin: 0.5rem;
}

.labelDate input {
  background-color: var(--selectDate-background-color);
  border-radius: 10px;
  border: var(--selectDate-border);
  color: var(--selectDate-text-color);
}

@media (max-width: 639px) {

}