@import "../../assets/color.css";

.navbar1{
  background-color: var(--navbar-bg-color);
  width: 100%;
  box-shadow: var(--navbar--shadowdown);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold;
    font-family: serif;
    font-size: 1.125rem;
  }

  .logo-customBack {
    color: #008000;

  }
  
  .logo-customBack:hover {
    background-color: #008000; /* Color verde oscuro como ejemplo */
  }


  .selectNames{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-top: 8px;
  }
  
  @media (max-width: 639px) {
    .logo {
      width: 100%;
    }

    .selectNames{
      display: none;
    }

  }

  .custom-link {

    color: var(--navbar-text-color); /* Utiliza la variable --customBack */
    border: none;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: box-shadow 0.3s;
  }
  
  .custom-link:hover {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: var(--navbar-hover-bg-color); /* Utiliza la variable --customHover */
    color: var(--navbar-hover-text-color); /* Utiliza la variable --customFont */
    box-shadow: var(--navbar-box-shadow-color);
  }

